apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "todo1m.fullname" . }}-app-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "todo1m.labels" . | nindent 4 }}
data:
  NATS_URL: nats://{{ include "todo1m.fullname" . }}-nats.{{ .Release.Namespace }}.svc:4222
  UI_ORIGIN: {{ .Values.uiOrigin | quote }}
  COMMAND_API_ADDR: ":8080"
  SSE_STREAMER_ADDR: ":8081"
  DOMAIN_ENGINE_HEALTH_ADDR: ":8082"
  DATA_SINK_HEALTH_ADDR: ":8083"
  NATS_CONNECT_TIMEOUT: "90s"
  DB_MIN_CONNS: {{ .Values.database.minConns | quote }}
  DB_MAX_CONNS: {{ .Values.database.maxConns | quote }}
  DB_MAX_CONN_LIFETIME: {{ .Values.database.maxConnLifetime | quote }}
  DB_MAX_CONN_IDLE_TIME: {{ .Values.database.maxConnIdleTime | quote }}
  DB_HEALTH_CHECK_PERIOD: {{ .Values.database.healthCheckPeriod | quote }}
  SHUTDOWN_TIMEOUT: "15s"
