fullnameOverride: ""

imagePullSecrets: []
  # - name: ghcr-creds

uiOrigin: "http://localhost:18081"
jwtSecret: "change-me"

database:
  minConns: "2"
  maxConns: "20"
  maxConnLifetime: "30m"
  maxConnIdleTime: "5m"
  healthCheckPeriod: "30s"

nats:
  image: "nats:2.10-alpine"
  replicaCount: 1
  storage:
    enabled: true
    size: 10Gi

postgres:
  image: "postgres:16-alpine"
  replicaCount: 1
  auth:
    username: app
    password: password
    database: app
  storage:
    enabled: true
    size: 20Gi

services:
  commandApi:
    image: "ghcr.io/lieranderl/todo-1m-command-api:latest"
    replicaCount: 3
    resources:
      requests:
        cpu: 200m
        memory: 256Mi
      limits:
        cpu: "1"
        memory: 1Gi
    hpa:
      enabled: true
      minReplicas: 3
      maxReplicas: 30
      targetCPUUtilizationPercentage: 65
      scaleDownStabilizationWindowSeconds: 120
    pdb:
      enabled: true
      minAvailable: 2

  sseStreamer:
    image: "ghcr.io/lieranderl/todo-1m-sse-streamer:latest"
    replicaCount: 3
    resources:
      requests:
        cpu: 200m
        memory: 256Mi
      limits:
        cpu: "1"
        memory: 1Gi
    hpa:
      enabled: true
      minReplicas: 3
      maxReplicas: 40
      targetCPUUtilizationPercentage: 60
      scaleDownStabilizationWindowSeconds: 180
    pdb:
      enabled: true
      minAvailable: 2

  domainEngine:
    image: "ghcr.io/lieranderl/todo-1m-domain-engine:latest"
    replicaCount: 3
    resources:
      requests:
        cpu: 150m
        memory: 192Mi
      limits:
        cpu: "1"
        memory: 512Mi
    hpa:
      enabled: true
      minReplicas: 3
      maxReplicas: 25
      targetCPUUtilizationPercentage: 70
      scaleDownStabilizationWindowSeconds: 120
    pdb:
      enabled: true
      minAvailable: 2

  dataSink:
    image: "ghcr.io/lieranderl/todo-1m-data-sink:latest"
    replicaCount: 3
    resources:
      requests:
        cpu: 200m
        memory: 256Mi
      limits:
        cpu: "1"
        memory: 1Gi
    hpa:
      enabled: true
      minReplicas: 3
      maxReplicas: 25
      targetCPUUtilizationPercentage: 70
      scaleDownStabilizationWindowSeconds: 120
    pdb:
      enabled: true
      minAvailable: 2

monitoring:
  podMonitor:
    enabled: false
    namespace: monitoring
    interval: 10s
